.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: #ebecf0;
}

.About {
  border-radius: 10px;
  width: 80vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ebecf0;
  box-shadow: 
  8px 8px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 16px 0 rgba(255, 255, 255);
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .About {
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    min-width: 350px;
    /* min-height: 500px; */
  }
}

.About img {
  max-height: 35vh;
  padding: 10px;
}

.AboutText {
  width: 45vw;
  margin: 10px;
}

.AboutText h1 {
  color: grey;
  margin-bottom: 10px;
}

.AboutText h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.AboutText .location {
  margin-top: 10px;
}

.AboutText button {
  /* border: 2px solid white; */
  /* box-shadow: 
  8px 8px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 16px 0 rgba(255, 255, 255); */
  border: none;
  background-color: #ebecf0;
  box-shadow: 
  4px 4px 8px 0 rgba(0, 0, 0, 0.25),
  -5px -5px 8px 0 rgba(255, 255, 255);
  border-radius: 10px;
  font-size: 1em;
  padding: 5px;
  margin: 10px;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  cursor: pointer;
  color: black;
  /* color: darkgrey; */
}

.links {
  font-weight: bold;
}