.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  border: 2px solid pink;
}

.About {
  border: 1px lightgrey solid;
  border-radius: 10px;
  width: 80vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.About img {
  max-height: 35vh;
  padding: 10px;
}

.AboutText {
  border: 1px solid lightgrey;
  width: 45vw;
  border-radius: 10px;
  margin: 10px;
}

.AboutText h1 {
  color: grey;
}